.header-col-setting {
  text-align: right;
  padding-right: 30px;
  .header-icon {
    span {
      display: inline-block;
      padding: 0px 10px;
      border-right: 1px solid #707070;
    }
  }
}
.header-col-setting {
  svg {
    font-size: 22px;
  }
}
.dashboard-text {
  p {
    color: #fff;
    margin-bottom: 0px;
  }
  span {
    color: #fff;

    font-size: 12px;
  }
}
